{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="breadcrumb">
        <a href="transactions.html">Transactions</a> <span>/</span> <span id="form-breadcrumb">Nouvelle transaction</span>
      </div>

      <div class="app-topbar">
        <div>
          <span class="eyebrow" id="form-eyebrow">Créer</span>
          <h1 id="form-title">Nouvelle transaction</h1>
        </div>
      </div>

      <form class="card card-pad" id="transaction-form" method="POST" action="{% url 'create-transaction' %}" novalidate>
        {% csrf_token %}

        <div class="form-grid">
          <div class="field field-full">
            <label for="{{ form.trx_type.id_for_label }}">Type</label>
            <div class="type-toggle">
              <label class="type-option income-option" id="option-revenu">
                <input type="radio" name="trx_type" value="IN">
                ↑ Revenu
              </label>
              <label class="type-option expense-option" id="option-depense">
                <input type="radio" name="trx_type" value="EX">
                ↓ Dépense
              </label>
            </div>
          </div>

          <div class="field field-full">
            <label for="{{ form.label.id_for_label }}">Libellé</label>
            {{ form.label }}
            {% if form.label.errors %}
                <span class="field-error">Le libellé est obligatoire.</span>
            {% endif %}
            
          </div>

          <div class="fielf field-full">
            <label for="{{ form.amount.id_for_label }}">Montant (FCFA)</label>
            {{ form.amount }}
            {% if form.amount.errors %}
                <span class="field-error">Indiquez un montant supérieur à 0.</span>
             {% endif %}
          </div>

          <div class="field field-full">
            <label for="{{ form.category.id_for_label }}">Catégorie</label>
            {{ form.category }}
            {% if form.category.errors %}
                <span class="field-error">{{ form.category.errors.0 }}</span>
            {% endif %}
          </div>

          <div class="field field-full">
            <label for="{{ form.description.id_for_label }}">Note (optionnel)</label>
            {{ form.description }}
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Enregistrer la transaction</button>
          <a href="{% url 'list-transactions' %}" class="btn btn-secondary">Annuler</a>
        </div>
      </form>

{% endblock main %}